CLIENT_GATEWAY_PORT=3000
PRODUCTS_MS_PORT=3001
ORDERS_MS_PORT=3002
PAYMENTS_MS_PORT=3003

# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"


PRODUCTS_DATABASE_URL="file:./dev.db"

ORDERS_DB_USERNAME=postgres
ORDERS_DB_PASSWORD=CambiarPorUnaClaveSegura
ORDERS_DB_NAME=ordersdb

ORDERS_DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@orders-db:5432/${DB_NAME}?schema=public"

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_UR=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_xxxxxxxxxxxxxxxxx
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=